<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link Vue Js v2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- Link Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Link CSS -->
    <link rel="stylesheet" href="./css/style.css">

    <title>Php Ajax Dischi</title>
</head>
<body>

    <!-- App Vue -->
    <div id="app">

        <!-- Header -->
        <header>
            <!-- Logo -->
            <div class="logo">
                <img src="./img/spotify.svg" alt="">
            </div>

            <!-- Select -->
            <div class="select">
                <select name="genere" id="genere" v-model="optionSelect" @change="getOptionSelect()">
                    <option value="" disabled selected hidden>Seleziona un genere</option>
                    <option value="Default">Default</option>
                    <option value="Metal">Metal</option>
                    <option value="Pop">Pop</option>
                    <option value="Rock">Rock</option>
                    <option value="Jazz">Jazz</option>
                </select>
            </div>
        </header>

        <!-- Main -->
        <main>
            <!-- Wrapper albums -->
            <div class="wrapper_albums" v-if="arrayAlbums.length">

                <!-- Album -->
                <div class="album" v-for="(element, index) in arrayAlbums" :key="index">
                    <!-- Wrapper Immagine -->
                    <div class="img_wrapper">
                        <img :src="element.poster" alt="">
                    </div>

                    <!-- Wrapper description -->
                    <div class="description_wrapper">
                        <h1 class="title">{{element.title}}</h1>
                        <h3 class="author">{{element.author}}</h3>
                        <h3 class="year">{{element.year}}</h3>
                    </div>
                </div>

            </div>
        </main>

    </div>
    

    <!-- Link JavaScript -->
    <script src="./js/app.js"></script>

</body>
</html>